<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538159449771-eeu37fb41j006aloublhq8i5g6ilmakb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538159449771-eeu37fb41j006aloublhq8i5g6ilmakb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>538159449771-mbri0v1l3ad9n8p7njkqbp4qi0kbb253.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8XaUCdYRfpstMASgrgW2WhAfqbYKaMyA</string>
	<key>GCM_SENDER_ID</key>
	<string>538159449771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cakey</string>
	<key>PROJECT_ID</key>
	<string>cakey-352610</string>
	<key>STORAGE_BUCKET</key>
	<string>cakey-352610.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538159449771:ios:a576a8aa75e686831e19ee</string>
</dict>
</plist>